---
import { css } from "styled-system/css";
import Layout from "./Page.astro";
import PrintButton from "src/components/PrintButton.astro";
---

<Layout>
  <div class={css({ pos: "fixed", bottom: "8", right: "8", zIndex: "10" })}>
    <PrintButton href={Astro.props.printUrl} />
  </div>
  <hr
    class={css({
      height: "4px",
      borderRadius: "xl",
      bg: "$accent",
      width: "100%",
      border: 0,
    })}
  />
  <main
    class:list={[
      "prose",
      css({ mt: "12", _print: { px: "12", fontSize: "13px" } }),
    ]}
  >
    <slot />
  </main>
</Layout>
