@layer reset, base, tokens, recipes, utilities;

@media print {
  @page {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  body {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
    margin: 0.5in 0.5in;
  }

  html {
    font-size: 11px !important;
  }
}
